<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>
<h2>Please register</h2>
<div class="container">
    <form action="/register" method="post">
        <div class="row">
            <div class="col-50">
                <h3 class="mb-3 text-center">Registration</h3>
                <label for="first_name"><i class="fa fa-user"></i>First name</label>
                <input type="text" id="first_name" name="first_name" placeholder="John">
                <label for="last_name"><i class="fa fa-user"></i>Last name</label>
                <input type="text" id="last_name" name="last_name" placeholder="Doe">
                <label for="email"><i class="fa fa-envelope"></i>E-mail address</label>
                <input type="text" id="email" name="email" placeholder="john@example.com">
                <label for="pw"><i class="fa fa-address-card-o"></i>Password</label>
                <input type="password" id="pw" name="password" placeholder="*******">
                <label for="pw2"><i class="fa fa-address-card-o"></i>Confirm password</label>
                <input type="password" id="pw2" name="password2" placeholder="*******">
                <h4 class="error" th:if="${!#arrays.isEmpty(errorMessages)}" th:each="errorMessage : ${errorMessages}" th:text="${errorMessage}"></h4>
            </div>
        </div>
        <input type="submit" value="Register" class="btn">
    </form>
</div>

</body>
</html>