<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login and registration page</title>
</head>
<body>
<h2>Please register</h2>
<div class="reg">
    <label for="reg-firstname">First name</label>
    <input name="reg-firstname" type="text" id="reg-firstname">
    <label for="reg-lastname">Last name</label>
    <input type="text" name="reg-lastname" id="reg-lastname">
    <label for="reg-email">E-mail</label>
    <input name="reg-email" type="email" id="reg-email">
    <label for="reg-pw">Password</label>
    <input name="reg-pw" type="email" id="reg-pw">
</div>
<div>
    <button name="registration-button" value="" type="submit">Register</button>
</div>

</body>
</html>